<div class="row">
    <div class="col">

      <div class="input-group mb-3">
        <input #termino class="form-control" type="text" (keyup)="buscar(termino.value)" placeholder="Buscar artista...">
        <div class="input-group-prepend">
          <span (click)="buscar(termino.value)" class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
        </div>
      </div>        
    </div>
</div>

<app-loading *ngIf="loadingShow"></app-loading>

<app-alert-error *ngIf="errorAlert" [inputError]="mensajeError"></app-alert-error>

<div class="row mt-5" *ngIf="!loadingShow">
  <app-tarjetas [items]="artistas"></app-tarjetas>
</div>
